.login-card {
  width: 450px;
  height: 500px;

}

.header-image {
  width: 70%;
  padding-top: 1rem;
  display: flex;
  padding-left: 3rem;
}

.main-container {
  height: 100%;
  background-color: #F2F2F2;
}

.login-container {
  display: table;
  height: 100%;
  margin: 0 auto;
}

.login-inner-container {
  display: table-cell;
  vertical-align: middle;
}

.subtitle {
  text-align: center;
  margin-top: 1rem;
  font-family: Roboto;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
