<div class="centered">
  <mat-card class="login-card">
    <img class="header-image" src="assets/img.png">
    <div class="subtitle">
      <span>Google Maps’e Hosgeldiniz.</span>
    </div>
    <mat-card-content>

      <form class="form-container">

        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput autocomplete="off">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Şifre</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" autocomplete="off">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <label class="missing-password">Şifremi Unttum</label>

        <button class="login-button" mat-raised-button color="primary">
          <span>Giriş Yap</span>
        </button>

      </form>

    </mat-card-content>
  </mat-card>
</div>



