.login-card {
  max-width: 450px;
  padding-bottom: 23rem;
}

.header-image {
  width: 70%;
  padding-top: 1rem;
  display: flex;
  padding-left: 3rem;
}

.subtitle {
  text-align: center;
  margin-top: 1rem;
  font-family: Roboto;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
