<body class="page-body">

<div class="row alert-danger-div" *ngIf="loginAlert">
  <div class="alert alert-danger col-3 alert-danger" role="alert">
    <strong>Giriş işlemi başarısız oldu! </strong> Lütfen kullanıcı bilgilerinizi kontrol edip tekrar deneyin.
    <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
  </div>
</div>

<div class="centered" *ngIf="hideLogin">
  <mat-card class="login-card">
    <img class="header-image" src="../../../assets/google-maps.png">
    <div class="subtitle">
      <span>Google Maps’e Hosgeldiniz.</span>
    </div>
    <mat-card-content>

      <form class="form-container" [formGroup]="loginForm">

        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" autocomplete="off">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Şifre</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="off">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" type="button"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <a class="missing-password" routerLink="/reset-password" (click)="hideLogin = false">Şifremi Unttum</a>

      </form>

      <div class="login-button">
        <button class="login-btn" type="button" mat-raised-button color="primary" (click)="login()">
          <span>Giriş Yap</span>
        </button>
      </div>

    </mat-card-content>

  </mat-card>

</div>
</body>



