.page-body {
  background-color: #F2F2F2
}

.login-card {
  max-width: 450px;
  min-width: auto;
}

.header-image {
  width: 70%;
  padding-top: 1rem;
  display: flex;
  padding-left: 3rem;
}

.subtitle {
  text-align: center;
  margin-top: 1rem;
  font-family: Roboto;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.centered {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.mat-form-field {
  width: 70%;
  padding-top: 2rem;
}

.login-button {
  display: flex;
  justify-content: center;
  margin-top: -1rem
}

.login-btn {
  width: 70%
}

.missing-password {
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 70%;
  text-align-last: right;
}

@media screen and (min-width: 992px) {
  #wrapper {
    mat-card:not(:last-child) {
      margin-right: 1rem;
    }

    mat-card-content.mat-card-content {
      padding-top: 8rem;
    }
  }
  .subtitle {
    padding-left: 25px;
  }
}

@media screen and (max-width: 992px) {
  #wrapper {
    flex-direction: column;

    mat-card:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  .subtitle {
    padding-left: 25px;
  }
  mat-card-content.mat-card-content {
    padding-top: 8rem;
  }
  .mat-form-field {
    width: 90%;
    padding-top: 2rem;
  }
  .missing-password {
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 90%;
    text-align-last: right;
  }
  .login-btn {
    width: 90%
  }
  img.header-image {
    width: 79%;
    padding-top: 1rem;
    display: flex;
    padding-left: 22px;
  }
  mat-card.mat-card.mat-focus-indicator.login-card {
    width: 325px;
  }

  .page-body {
    background-color: #FFFFFF;
  }
}

