.user-card {
  width: 102%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.welcome-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.user-list-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.user-list-div {
  display: flex;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.toolbar-row {
  display: flex;
  justify-content: center
}

@media screen and (min-width: 992px) {

}

@media screen and (max-width: 992px) {

  .toolbar-row {
    display: flex;
    justify-content: flex-start;
  }
}

