<mat-card class="user-card">
  <mat-card-header>
    <div mat-card-avatar>
      <img [src]="pictureUrl" class="user-header-image">
    </div>
    <mat-card-title>
      <span style="color: #3988FF">{{title}}.{{firstName ? firstName : ''}}  {{lastName ? lastName : ''}}</span>
      <!--If we want to show full name of user in detail component open code line(9-10) close line 7 -->
      <!--<a href="javascript: void(0)" (click)="selectUser.emit()" style="color: #3988FF">{{title}}-->
      <!--  .{{firstName ? firstName : ''}}  {{lastName ? lastName : ''}}</a>-->
    </mat-card-title>
    <mat-card-subtitle>Email: {{userDetail?.email}} </mat-card-subtitle>
    <mat-card-subtitle>Phone: {{userDetail?.phone}} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>
