<div class="centered">

  <mat-card class="login-card">
    <img class="header-image" src="../../../assets/google-maps.png">
    <div class="subtitle">
      <span>Şifrenizi sıfırlamak istediğiniz <br> E-Mail adresini girin.</span>
    </div>
    <mat-card-content>

      <form class="form-container">

        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput autocomplete="off">
        </mat-form-field>

        <div style="padding-top: 1rem">
          <button class="reset-button" mat-raised-button color="primary">
            <span>Şifremi Sıfırla</span>
          </button>
        </div>

        <div class="back-login">
          <label>Şifremi Unttum</label>
        </div>


      </form>

    </mat-card-content>
  </mat-card>

</div>



