<div style="display: flex; justify-content: center; margin-top: 7rem">
  <img src="assets/img_1.png" style="width: 50%">
</div>
<div style="display: flex; justify-content: center">
  <span class="welcome-text">Google Maps’e Hoşgeldiniz</span>
</div>

<!--User title with full name can show in detail page-->
<!--<div style="display: flex; justify-content: center">-->
<!--  <span *ngIf="userId" class="welcome-text">-->
<!--      {{userTitle ? userTitle : ''}}. {{userName ? userName : ''}}-->
<!--  </span>-->
<!--</div>-->
